<template>
	<div>
		<div class="form-row">
		    <div class="form-group col-md-12">
		        <label>Nome *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.name" 
		        	:id="name+'name'" 
		        	@input="clearValidation('name')">
		        <div class="invalid-feedback" :id="name+'name-invalid-feedback'"></div>
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-12">
		        <label>E-mail *</label>
		        <input 
		        	type="email" 
		        	class="form-control" 
		        	v-model="dados.email" 
		        	:id="name+'email'" 
		        	@input="clearValidation('email')">
		        <div class="invalid-feedback" :id="name+'email-invalid-feedback'"></div>
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-12">
		        <label>Perfil *</label>
		        <select 
		        	:id="name+'perfil'"
		        	class="form-control"
		        	v-model="dados.perfil">
					<option v-for="role in roles">
						{{ role.name }}
					</option>
		        </select>
		        <div class="invalid-feedback" :id="name+'perfil-invalid-feedback'"></div>
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-12">
		        <label>Senha</label>
		        <input 
		        	type="password" 
		        	class="form-control" 
		        	v-model="dados.password" 
		        	:id="name+'password'" 
		        	@input="clearValidation('password')">
		        <div class="invalid-feedback" :id="name+'password-invalid-feedback'"></div>
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['dados', 'name', 'errors'],
		data(){
			return {
				elementos: Object.keys(this.dados),
				roles: []
			}
		},
		created(){
			this.getRoles()
		},
		methods : {
			clearValidation(element){
				this.$grtsValidation.clear(element, this.name);
			},
			getRoles(){
				axios.get(this.$url+'/web/roles/data')
	            .then(response => {
	            	this.roles = response.data
	            })
	            .catch(error => {
	            	console.log(error)
	            });
			}
        },
        watch: {
            errors: function() {
                this.$grtsValidation.valide(this.elementos, this.errors, this.name);
            },
        }
    }
</script>