<template>
	<grts-modal 
		titulo="Editar Usuário"
		tamanho="modal-lg"
		:name="name">
		<template v-slot:default>
	        <user-form
				:dados="dados" 
	        	:name="name" 
	        	:errors="errors">
	        </user-form>
	    </template>
	    <template v-slot:footer>
        	<button 
        		type="button" 
        		class="btn btn-primary" 
        		@click="update">
        		Salvar
        	</button>
        </template>
    </grts-modal>
</template>

<script>
	export default {
		props: ['dado_id'],
		data(){
			return {
				dados: [],
				name: 'updateUser',
				errors: []
			}
		}, 
		created(){
			this.getDados();
		},
		methods: {
			update(){
	            axios.post(this.$url+'/web/users/update/'+this.dado_id, (this.dados))
	            .then(response => {
	            	$('#'+this.name).modal('hide')
	            	this.$grtsMessage.show(response.data.message, response.data.type)
	              	this.$emit('reload')
	            })
	            .catch(error => {
	            	this.errors = error.response.data.errors
	            	if(error.response.status == 403){
	            		$('#'+this.name).modal('hide')
	            		this.$grtsMessage.show('Você não tem permissão para editar clientes', 'error')
	            	}
	            });
        	},
        	getDados(){
        		if(this.dado_id > 0){
        			axios.get(this.$url+'/web/users/show/'+this.dado_id)
		            .then(response => {
		                this.dados = response.data
		            })
        		}
			}
		},
		watch: {
			dado_id(){
				this.getDados()
			}
		}
	}
</script>