<template>
	<div 
		class="modal fade"
		id="userDestroy" 
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="userDestroylabel" 
		aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	     		<div class="modal-header">
			        <h5 class="modal-title" id="userDestroylabel">Deseja realmente excluir este usuário?</h5>
				    <button 
				    	class="close"
				    	@click="fecharModal('userDestroy')">
				    	<span aria-hidden="true">&times;</span>
				    </button>
			    </div>
			    <div class="modal-footer">
				    <button 
				    	class="btn btn-secondary"
				    	@click="fecharModal('userDestroy')">
				    	Cancelar
				    </button>
				    <button 
				    	class="btn btn-danger"
				    	@click="destroy()">
				    	Excluir
				    </button>
			    </div>
	    	</div>
	  	</div> 
	</div>
</template>

<script>
	export default {
		props: ['dado_id'],
		methods: {
			destroy(){
				axios.delete(this.$url+'/web/users/destroy/'+this.dado_id)
                .then(response => {
                	$('#userDestroy').modal('hide')
                  	this.$grtsMessage.show(response.data.message, response.data.type)
                  	this.$emit('reload')
                })
                .catch(error => {
                	$('#userDestroy').modal('hide')
                	this.$grtsMessage.show(error.response.data.message, error.response.data.type)
	            	console.log(error.response)
                });
			},
			fecharModal(name){
	    		$('#'+name).modal('hide')
	    	}
		}
	}
</script>