<template>
	<grts-modal 
		titulo="Novo Usuário"
		tamanho="modal-lg"
		:name="name">
		<template v-slot:default>
	        <user-form
				:dados="dados" 
	        	:name="name" 
	        	:errors="errors">
	        </user-form>
	    </template>
	    <template v-slot:footer>
        	<button 
        		type="button" 
        		class="btn btn-primary" 
        		@click="create">
        		Salvar
        	</button>
        </template>
    </grts-modal>
</template>

<script>
	import User from "./../../models/User.js";
	export default {
		data(){
			return {
				dados: new User(),
				name: 'create_users',
				errors: []
			}
		}, 
		methods: {
			create(){
	            axios.post(this.$url+'/web/users/store', (this.dados))
	            .then(response => {
	            	$('#'+this.name).modal('hide')
	            	this.$grtsMessage.show(response.data.message, response.data.type)
	              	this.dados = new User()
	              	this.$emit('reload')
	            })
	            .catch(error => {
	            	this.errors = error.response.data.errors
	            	if(error.response.status == 403){
	            		$('#'+this.name).modal('hide')
	            		this.$grtsMessage.show('Você não tem permissão para cadastrar usuários', 'error')
	            	}
	            });
        	},
		},
	}
</script>