<template>
	<div>
		<table id="tableUsers" class="table table-hover table-striped">
	        <thead>
	            <tr>
	                <th>Nome</th>
	                <th>E-mail</th>
	                <th>Perfil</th>
	                <th class="right-align" v-if="$auth.can('Editar Usuários') || $auth.can('Excluir Usuários')">
	               		Ações
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr v-if="processing">
	                <td colspan="4">
	                	<GrtsLoadCircle></GrtsLoadCircle>
	                </td>
	            </tr>
	            <tr v-for="dado in dados">
	                <td>{{ dado.name }}</td>
	                <td>{{ dado.email }}</td>
	                <td>{{ dado.perfil }}</td>
	                <td class="right-align" v-if="$auth.can('Editar Usuários') || $auth.can('Excluir Usuários')">
	                	<div class="d-flex justify-content-end">
		                	<button 
		                		v-if="$auth.can('Editar Usuários')"
		                		class="btn btn-warning mr-1"
		                		@click="update(dado.id)">
		                		<i class="fas fa-edit"></i>
		                	</button>
		                	<button 
		                		v-if="$auth.can('Excluir Usuários')"
		                		class="btn btn-danger"
		                		@click="destroy(dado.id)">
		                		<i class="fas fa-trash text-white-50"></i>
		                	</button>
		                </div>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	    <user-update 
	    	v-if="$auth.can('Editar Usuários')"
	    	:dado_id="userSelectedId"
	    	@reload="reload()">
	    </user-update>
	    <user-destroy 
	    	v-if="$auth.can('Excluir Usuários')"
	    	:dado_id="userSelectedId"
	    	@reload="reload()">
	    </user-destroy>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				dados: [],
				userSelectedId: 0,
				processing: true
			}
		},
		created(){
			this.getDados()
		},
		methods: {
			getDados(){
				axios.get(this.$url+'/web/users/data')
	            .then(response => {
	            	this.processing = false;
	            	this.dados = response.data
	            	this.$datatable.create('tableUsers');
	            })
	            .catch(error => {
	            	this.processing = false;
	            	console.log(error)
	            });
			},
			update(id){
				this.userSelectedId = id;
				$('#updateUser').modal('show');
			},
			destroy(id){
				this.userSelectedId = id;
				$('#userDestroy').modal('show');
			},
			reload(){
				this.$emit('reload')
			}
		}
	}
</script>

<style scoped>
	.right-align {
		text-align: right;
	}
</style>