<template>
	<grts-modal 
		titulo="Novo Endereço"
		tamanho="modal-lg"
		:name="name">
		<template v-slot:default>
	        <endereco-form
				:dados="dados" 
	        	:name="name" 
	        	:errors="errors">
	        </endereco-form>
	    </template>
	    <template v-slot:footer>
        	<button 
        		type="button" 
        		class="btn btn-primary" 
        		@click="create">
        		Salvar
        	</button>
        </template>
    </grts-modal>
</template>

<script>
	import Endereco from "./../../models/Endereco.js";
	export default {
		props: ['principal'],
		data(){
			return {
				dados: new Endereco(),
				name: 'createEndereco',
				errors: []
			}
		}, 
		created(){
			if(!this.principal){
				this.dados.principal = true;
			}
		},
		methods: {
			create(){
				this.dados.cliente_id = this.$route.params.id;
	            axios.post(this.$url+'/web/enderecos/store', (this.dados))
	            .then(response => {
	            	$('#'+this.name).modal('hide')
	            	this.$grtsMessage.show(response.data.message, response.data.type)
	              	this.dados = new Endereco()
	              	this.$emit('reload')
	            })
	            .catch(error => {
	            	this.errors = error.response.data.errors
	            	if(error.response.status == 403){
	            		$('#'+this.name).modal('hide')
	            		this.$grtsMessage.show('Você não tem permissão para cadastrar endereços', 'error')
	            	}
	            });
        	},
		},
	}
</script>