<template>
	<div>
		<table id="tableEnderecos" class="table table-hover table-striped">
	        <thead>
	            <tr>
	                <th>CEP</th>
	                <th>Estado</th>
	                <th>Cidade</th>
	                <th>Bairro</th>
	                <th>Logradouro</th>
	                <th>Complemento</th>
	                <th>Número</th>
	                <th class="right-align" v-if="$auth.can('Editar Endereços') || $auth.can('Excluir Endereços')">
	               		Ações
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr v-if="processing">
	                <td colspan="8">
	                	<GrtsLoadCircle></GrtsLoadCircle>
	                </td>
	            </tr>
	            <tr v-for="dado in dados">
	                <td>{{ dado.cep }}</td>
	                <td>{{ dado.estado }}</td>
	                <td>{{ dado.cidade }}</td>
	                <td>{{ dado.bairro }}</td>
	                <td>{{ dado.logradouro }}</td>
	                <td>{{ dado.complemento }}</td>
	                <td>{{ dado.numero }}</td>
	                <td class="right-align d-flex" v-if="$auth.can('Editar Endereços') || $auth.can('Excluir Endereços')">
	                	<div class="d-flex justify-content-end">
		                	<button 
		                		v-if="$auth.can('Editar Endereços')"
		                		class="btn btn-warning mr-1"
		                		@click="update(dado.id)">
		                		<i class="fas fa-edit"></i>
		                	</button>
		                	<button 
		                		v-if="$auth.can('Excluir Endereços')"
		                		class="btn btn-danger"
		                		@click="destroy(dado.id)">
		                		<i class="fas fa-trash text-white-50"></i>
		                	</button>
		                </div>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	    <endereco-update
	    	v-if="$auth.can('Editar Endereços')"
	    	:dado_id="enderecoSelectedId"
	    	@reload="reload()">
	    </endereco-update>
	    <endereco-destroy 
	    	v-if="$auth.can('Excluir Endereços')"
	    	:dado_id="enderecoSelectedId"
	    	@reload="reload()">
	    </endereco-destroy>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				dados: [],
				enderecoSelectedId: 0,
				processing: true
			}
		},
		created(){
			this.getDados()
		},
		methods: {
			getDados(){
				axios.get(this.$url+'/web/enderecos/data/'+this.$route.params.id)
	            .then(response => {
	            	this.dados = response.data
	            	this.processing = false;
	            	this.$datatable.create('tableEnderecos');
	            })
	            .catch(error => {
	            	this.processing = false;
	            	console.log(error)
	            });
			},
			update(id){
				this.enderecoSelectedId = id;
				$('#updateEndereco').modal('show');
			},
			destroy(id){
				this.enderecoSelectedId = id;
				$('#enderecoDestroy').modal('show');
			},
			reload(){
				this.$emit('reload')
			}
		}
	}
</script>

<style scoped>
	.right-align {
		text-align: right;
	}
</style>