<template>
	<div>
		<table id="tableAllEnderecos" class="table table-hover table-striped">
	        <thead>
	            <tr>
	            	<th>Cliente</th>
	                <th>CEP</th>
	                <th>Estado</th>
	                <th>Cidade</th>
	                <th>Bairro</th>
	                <th>Logradouro</th>
	                <th>Complemento</th>
	                <th>Número</th>
	                <th class="right-align" v-if="$auth.can('Visualizar Clientes')">
	               		Ações
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr v-if="processing">
	                <td colspan="9">
	                	<GrtsLoadCircle></GrtsLoadCircle>
	                </td>
	            </tr>
	            <tr v-for="dado in dados">
	            	<td>{{ dado.cliente }}</td>
	                <td>{{ dado.cep }}</td>
	                <td>{{ dado.estado }}</td>
	                <td>{{ dado.cidade }}</td>
	                <td>{{ dado.bairro }}</td>
	                <td>{{ dado.logradouro }}</td>
	                <td>{{ dado.complemento }}</td>
	                <td>{{ dado.numero }}</td>
	                <td class="right-align" v-if="$auth.can('Visualizar Clientes')">
	                	<button 
	                		class="btn btn-primary"
	                		@click="show(dado.cliente_id)">
	                		<i class="fas fa-eye text-white-50"></i>
	                	</button>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				dados: [],
				processing: true
			}
		},
		created(){
			this.getDados()
		},
		methods: {
			getDados(){
				axios.get(this.$url+'/web/enderecos/data')
	            .then(response => {
	            	this.dados = response.data
	            	this.processing = false;
	            	this.$datatable.create('tableAllEnderecos');
	            })
	            .catch(error => {
	            	this.processing = false;
	            	console.log(error)
	            });
			},
			show(id){
				this.$router.push('/clientes/show/'+id)
			}
		}
	}
</script>

<style scoped>
	.right-align {
		text-align: right;
	}
</style>