<template>
    <div>
        <div class="card mt-4">
            <div class="card-header">
                <div class="d-flex justify-content-between container-fluid">
                    <div class="text-muted fs-19">
                        <strong>
                            <i class="fas fa-map-marker-alt"></i>
                            Endereço Principal
                        </strong>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>Id:</strong>
                                    </div>
                                    <div>
                                        {{ dado.id }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>CEP:</strong>
                                    </div>
                                    <div>
                                        {{ dado.cep }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>Estado:</strong>
                                    </div>
                                    <div>
                                        {{ dado.estado }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>Cidade:</strong>
                                    </div>
                                    <div>
                                        {{ dado.cidade }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>Bairro:</strong>
                                    </div>
                                    <div>
                                        {{ dado.bairro }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>Logradouro:</strong>
                                    </div>
                                    <div>
                                        {{ dado.logradouro }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>Complemento:</strong>
                                    </div>
                                    <div>
                                        {{ dado.complemento }}
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <strong>Número:</strong>
                                    </div>
                                    <div>
                                        {{ dado.numero }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['dado']
    }
</script>