<template>
    <div>
        <div class="card mt-4">
            <div class="card-header">
                <div class="d-flex justify-content-between container-fluid">
                    <div class="text-muted fs-19">
                        <strong>
                            <i class="fas fa-map-marked-alt"></i>
                            Endereços
                        </strong>
                    </div>
                    <div v-if="$auth.can('Cadastrar Endereços')">
                        <button 
                            class="btn btn-primary"
                            @click="create()">
                            Novo
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <endereco-table 
                    @reload="reload">
                </endereco-table>
            </div>
        </div>

        <endereco-create
            v-if="$auth.can('Cadastrar Endereços')" 
            :principal="principal"
            @reload="reload">
        </endereco-create>
    </div>
</template>

<script>
    export default {
        props: ['principal'],
        methods: {
            create(){
                $('#createEndereco').modal('show');
            },
            reload(){
                this.$emit('reload')
            }
        }
    }
</script>