<template>
	<div>
		<div class="form-row">
		    <div class="form-group col-md-4">
		        <label>CEP *</label>
		        <input 
		        	type="text" 
		        	v-mask="'#####-###'"
		        	class="form-control" 
		        	v-model="dados.cep" 
		        	:id="name+'cep'" 
		        	@input="searchCep('cep')">
		        <div class="invalid-feedback" :id="name+'cep-invalid-feedback'"></div>
		    </div>
		    <div class="form-group col-md-2">
		        <label>Estado *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.estado" 
		        	:id="name+'estado'" 
		        	@input="clearValidation('estado')">
		        <div class="invalid-feedback" :id="name+'estado-invalid-feedback'"></div>
		    </div>
		    <div class="form-group col-md-6">
		        <label>Cidade *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.cidade" 
		        	:id="name+'cidade'" 
		        	@input="clearValidation('cidade')">
		        <div class="invalid-feedback" :id="name+'cidade-invalid-feedback'"></div>
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-5">
		        <label>Bairro *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.bairro" 
		        	:id="name+'bairro'" 
		        	@input="clearValidation('bairro')">
		        <div class="invalid-feedback" :id="name+'bairro-invalid-feedback'"></div>
		    </div>
		    <div class="form-group col-md-7">
		        <label>Logradouro *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.logradouro" 
		        	:id="name+'logradouro'" 
		        	@input="clearValidation('logradouro')">
		        <div class="invalid-feedback" :id="name+'logradouro-invalid-feedback'"></div>
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-3">
		        <label>Número *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.numero" 
		        	:id="name+'numero'" 
		        	@input="clearValidation('numero')">
		        <div class="invalid-feedback" :id="name+'numero-invalid-feedback'"></div>
		    </div>
		    <div class="form-group col-md-7">
		        <label>Complemento *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.complemento" 
		        	:id="name+'complemento'" 
		        	@input="clearValidation('complemento')">
		        <div class="invalid-feedback" :id="name+'complemento-invalid-feedback'"></div>
		    </div>
		    <div class="form-group col-md-2">
		        <label>Principal</label>
		        <toggle 
		        	:key="toggleKey"
		        	:id="name+'enderecoPrincipalToggle'"
		        	:default="dados.principal"
		        	@tchange="setPrincipal">
		        </toggle>
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['dados', 'name', 'errors'],
		data(){
			return {
				elementos: Object.keys(this.dados),
				toggleKey: 1
			}
		},
		created(){
			this.toggleKey += 1;
		},
		methods : {
			clearValidation(element){
				this.$grtsValidation.clear(element, this.name);
			},
			setPrincipal(valor){
				this.dados.principal = valor;
			},
			searchCep(element){
				if(this.dados.cep.length == 9){
					axios.get('https://viacep.com.br/ws/'+this.dados.cep+'/json')
		            .then(response => {
		            	this.dados.bairro = response.data.bairro
		            	this.dados.cidade = response.data.localidade
		            	this.dados.estado = response.data.uf
		            	this.dados.logradouro = response.data.logradouro
		            })
		            .catch(error => {
		            	console.log(error)
		            });
		        }
		        this.clearValidation(element);
			}
        },
        watch: {
            errors: function() {
                this.$grtsValidation.valide(this.elementos, this.errors, this.name);
            },
            dados(){
            	this.toggleKey += 1;
            }
        }
    }
</script>