<template>
	<grts-modal 
		titulo="Editar Endereço"
		tamanho="modal-lg"
		:name="name">
		<template v-slot:default>
	        <endereco-form
	        	:dados="dados" 
	        	:name="name" 
	        	:errors="errors">
	        </endereco-form>
	    </template>
	    <template v-slot:footer>
        	<button 
        		type="button" 
        		class="btn btn-primary" 
        		@click="update">
        		Salvar
        	</button>
        </template>
    </grts-modal>
</template>

<script>
	export default {
		props: ['dado_id'],
		data(){
			return {
				dados: [],
				name: 'updateEndereco',
				errors: []
			}
		}, 
		methods: {
			update(){
	            axios.post(this.$url+'/web/enderecos/update/'+this.dado_id, (this.dados))
	            .then(response => {
	            	$('#'+this.name).modal('hide')
	            	this.$grtsMessage.show(response.data.message, response.data.type)
	              	this.$emit('reload')
	            })
	            .catch(error => {
	            	this.errors = error.response.data.errors
	            	if(error.response.status == 403){
	            		$('#'+this.name).modal('hide')
	            		this.$grtsMessage.show('Você não tem permissão para editar endereços', 'error')
	            	}
	            });
        	},
        	getDados(){
	            axios.get(this.$url+'/web/enderecos/show/'+this.dado_id)
	            .then(response => {
	                this.dados = response.data
	            })
			}
		},
		watch: {
			dado_id(){
				this.getDados()
			}
		}
	}
</script>