<template>
	<div>
		<div class="container-fluid">
			<div class="row mb-2 mb-xl-3">
				<div class="col-auto d-none d-sm-block">
					<h3>
						<strong>
							<i class="fas fa-map-marked-alt"></i>
							Endereços
						</strong>
					</h3>
				</div>
			</div>
			<div class="card">
                <div class="card-header">
		        	<div class="d-flex justify-content-between container-fluid">
			            <div class="text-muted fs-19">
			            	<strong>Registros</strong>
			            </div>
				    </div>
		        </div>
		        <div class="card-body">
		            <endereco-all-table></endereco-all-table>
		        </div>
		    </div>
		</div>
	</div>
</template>