<template>
	<nav id="sidebar" class="sidebar">
		<div class="sidebar-content js-simplebar">
			<a class="sidebar-brand" href="/">
          		<span class="align-middle">
          			Teste GRTS
          		</span>
        	</a>
			<ul class="sidebar-nav">
				<li class="sidebar-header">
					Páginas
				</li>
				<li 
					class="sidebar-item" 
					:class="{ active: currentRouteName == 'painel'}">
					<router-link 
	                    class="sidebar-link"
	                    v-bind:to="{ name: 'painel' }">
	                    <i class="fas fa-tachometer-alt"></i>
              			<span class="align-middle">Painel</span>
	                </router-link>
	            </li>
	            <li 
	            	v-if="$auth.can('Visualizar Clientes')"
	            	:class="{ active: currentRouteName == 'clientes' || currentRouteName == 'clienteShow'}"
	            	class="sidebar-item">
            		<router-link 
                        class="sidebar-link"
                        v-bind:to="{ name: 'clientes' }">
                        <i class="fas fa-fw fa-city"></i> 
              			<span class="align-middle">Clientes</span>
                    </router-link>
				</li>
				<li 
	            	v-if="$auth.can('Visualizar Endereços')"
	            	:class="{ active: currentRouteName == 'enderecos'}"
	            	class="sidebar-item">
            		<router-link 
                        class="sidebar-link"
                        v-bind:to="{ name: 'enderecos' }">
                        <i class="fas fa-map-marked-alt"></i>
              			<span class="align-middle">Endereços</span>
                    </router-link>
				</li>
				<li 
					v-if="$auth.can('Visualizar Usuários')"
					:class="{ active: currentRouteName == 'users'}"
					class="sidebar-item">
            		<router-link 
                        class="sidebar-link"
                        v-bind:to="{ name: 'users' }">
                        <i class="fas fa-users"></i> 
              			<span class="align-middle">Usuários</span>
                    </router-link>
				</li>
			</ul>
		</div>
	</nav>
</template>

<script>
	export default {
		computed: {
		    currentRouteName() {
		        return this.$route.name;
		    }
		}
	}
</script>