<template>
	<div>
		<div class="row mb-2 mb-xl-3">
			<div class="col-auto d-none d-sm-block">
				<h3>
					<strong>
						<i class="fas fa-tachometer-alt"></i>
						Painel
					</strong>
				</h3>
			</div>
		</div>

		<div class="w-100">
			<clientes-enderecos-totais
				v-if="$auth.can('Visualizar Clientes') && $auth.can('Visualizar Endereços')">
			</clientes-enderecos-totais>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
					    	<div class="d-flex justify-content-between container-fluid">
					            <div class="text-muted">
					            	<h3>Teste para Analista PhP/Laravel Jr</h3>
					            </div>
						    </div>
					    </div>
						<div class="card-body">
							<p>Data de inicio: 09/04/2021</p>
							<p>Data de finalização dos requisitos: 12/04/2021</p>
						</div>
					</div>
				</div>
			</div>
			<requisitos></requisitos>
			<div class="row">
				<div class="col-sm-6">
					<tecnologias></tecnologias>
				</div>
				<div class="col-sm-6">
					<novas-funcionalidades></novas-funcionalidades>
				</div>
			</div>
			<alert-soft-delete></alert-soft-delete>
			<alert-datatable-net></alert-datatable-net>
		</div>
	</div>
</template>