<template>
	<div class="alert alert-warning" role="alert">			
		<div class="alert-message">
			<h4 class="alert-heading">
				<i class="far fa-frown-open"></i>
				Sistema sem Soft Deleting!
			</h4>
			<hr>
			<p>	
				Não foi adicionado o recurso Soft Deleting 
				do laravel nesta versão da aplicação.
				<strong>Tudo que for removido do sistema estará perdido para sempre.</strong><br>
				Caso seja necessário este recurso, <strong>preparei uma branch softDelete</strong> e precisa dar um migrate:refresh --seed para funcionar.
				<strong>
					<i class="far fa-smile-wink fs-20"></i>
				</strong>
			</p>
		</div>
	</div>
</template>

<style scoped>
	.fs-20{
		font-size: 20px;
	}
</style>