<template>
	<div class="alert alert-warning" role="alert">			
		<div class="alert-message">
			<h4 class="alert-heading">
				<i class="far fa-tired"></i>
				Datatables.net Longo Prazo
			</h4>
			<hr>
			<p>	
				<p>
					Quanto mais dados o sistema enviar para a tabela, mais tempo o usuário irá precisar esperar carregar.
				</p>
				<p>
					<strong>
						Iniciei o desenvolvimento de um datatable no vue.js que conversa diretamente com o Laravel utilizando o recurso paginate do Eloquent.
						Para testar basta alterar a branch para Datatables e acessar qualquer página do sistema.
					</strong>
				</p>
				<p>
					Independente da quantidade de dados, sempre é enviado uma quantidade específica ao usuário tendo um tempo de espera padrão e quase nulo.
				</p> 
				<strong>
					<i class="far fa-laugh-beam fs-20"></i>
				</strong>
			</p>
		</div>
	</div>
</template>

<style scoped>
	.fs-20{
		font-size: 20px;
	}
</style>