<template>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title mb-4">
						<i class="fas fa-fw fa-city"></i>
						Clientes
					</h5>
					<h1 class="mt-1 mb-3">
						{{ dados.total_clientes }}
					</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title mb-4">
						<i class="fas fa-map-marked-alt"></i>
						Endereços
					</h5>
					<h1 class="mt-1 mb-3">
						{{ dados.total_enderecos }}
					</h1>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				dados: []
			}
		},
		created(){
			this.getDados()
		},
		methods: {
			getDados(){
				axios.get(this.$url+'/web/painel/data')
	            .then(response => {
	            	this.dados = response.data
	            })
	            .catch(error => {
	            	console.log(error)
	            });
			},
		}
	}
</script>