<template>
	<div class="alert alert-success" role="alert">			
		<div class="alert-message">
			<h4 class="alert-heading">
				<i class="fas fa-network-wired"></i>
				Funcionalidades adicionadas ao projeto
			</h4>
			<hr>
			<ul>
				<li>
					<strong>Página de Perfil do usuário</strong>
					<br>
					- Ver os dados cadastrados.<br>
					- O usuário pode editar o nome e a senha.<br>
					- Excluir a conta.
				</li>
				<li>
					<strong>Página de gerenciamento de usuários</strong> <br>
					- Apenas um usuário com o perfil Admin poderá acessar essa página.<br>
					- Listando todos os usuários, podendo cadastrar editar e excluir.
				</li>
			</ul>
		</div>
	</div>
</template>