<template>
	<div class="alert alert-secondary" role="alert">			
		<div class="alert-message">
			<h4 class="alert-heading">
				<i class="fas fa-clipboard-check"></i>
				Requisitos do Sistema
			</h4>
			<hr>
			<ul>
				<li>
					<strong>
						Cadastro será interno e deve ser 
						restrito a usuários logados
							<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						O cadastro do cliente deve conter Nome Empresa, CNPJ, Telefone, Nome do Responsável e Email
							<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						O cadastro do Endereço deve conter Cep, Logradouro, Bairro, Complemento, Número, Cidade e Estado
							<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						Os usuários podem ter um de três perfis: Admin, Editor e Visualizador
							<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						Admin: Pode realizar qualquer ação no sistema
						<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						Editor: Pode Criar, Editar, Excluir e Visualizar endereços e clientes
						<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						Visualizador: Visualizar endereços e clientes
						<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						Podem ser cadastrados mais de um endereço para cada cliente devendo ser selecionado UM endereço como principal, a definição do endereço principal pode ser alterada a qualquer momento
						<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						O sistema deve permitir Listagem, Criação, Edição, Exclusão e Visualização do Cliente e de seus endereços
						<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						Utilizar API ViaCEP (https://viacep.com.br/ ) para preenchimento automático dos campos de endereço ao digitar o cep
						<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
				<li>
					<strong>
						Utilizar DataTable (https://datatables.net/ ) na listagem para ordenação e busca rápida
						<i class="fas fa-check-circle verde"></i>
					</strong>
				</li>
			</ul>
		</div>
	</div>
</template>

<style scoped>
	.verde {
		color: green;
	}
</style>