<template>
	<div class="alert alert-primary" role="alert">			
		<div class="alert-message">
			<h4 class="alert-heading">
				<i class="fas fa-laptop-code"></i>
				Tecnologias Utilizadas
			</h4>
			<hr>
			<ul>
				<li>
					<strong>Vue.js</strong>
				</li>
				<li>
					<strong>Bootstrap v4.6.0</strong>
				</li>
				<li>
					<strong>Font Awesome Free</strong> Icones
				</li>
				<li>
					<strong>Admin Kit Master</strong> Template
				</li>
				<li>
					<strong>Vue Router</strong> 
					Rotas da SPA (Single Page Application)
				</li>
				<li>
					<strong>Spatie Larave Permission</strong> 
					Para gerenciar as permissões e perfis dos usuários
				</li>
				<li>
					<strong>Vue Toasted</strong> 
					Envio de mensagens de alerta ao executar operação no projeto
				</li>
				<li>
					<strong>LaraValidator Docs - Brasil</strong> 
					Validador de documentos como CNPJ
				</li>
				<li>
					<strong>Vue Mask</strong> 
					Máscara para formulários
				</li>
			</ul>
		</div>
	</div>
</template>