<template>
	<div>
		<div class="container-fluid">
			<div class="row mb-2 mb-xl-3">
				<div class="col-auto d-none d-sm-block">
					<h3>
						<strong>
							<i class="fas fa-fw fa-city"></i>
							Clientes
						</strong>
					</h3>
				</div>
				<div 
					v-if="$auth.can('Cadastrar Clientes')"
					class="col-auto ms-auto text-end mt-n1">
					<button 
						class="btn btn-primary ml-2"
						@click="create()">
						Novo
					</button>
				</div>
			</div>
			<div class="card">
                <div class="card-header">
		        	<div class="d-flex justify-content-between container-fluid">
			            <div class="text-muted fs-19">
			            	<strong>Registros</strong>
			            </div>
				    </div>
		        </div>
		        <div class="card-body">
		            <cliente-table  
		            	:key="clienteKey">
		            </cliente-table>
		        </div>
		    </div>
		</div>
		<cliente-create
			v-if="$auth.can('Cadastrar Clientes')"
			@reload="reload">
		</cliente-create>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				clienteKey: 1
			}
		},
		methods: {
			create(){
				$('#create_cliente').modal('show');
			}, 
			reload(){
				this.clienteKey++;
			}
		}
	}
</script>