<template>
	<div>
		<div class="mt-4 container-fluid">
			<div class="mt-4 ml-2 mb-4 d-flex justify-content-between">
				<div class="d-flex">
					<h1 class="h3 mb-0 text-gray-800">
						<i class="fas fa-fw fa-building"></i>
						Cliente {{ dado.nome_empresa }}
					</h1>
				</div>
				<div>
					<button 
						v-if="$auth.can('Editar Clientes')"
						class="btn btn-warning ml-2"
						@click="update()">
						<i class="fas fa-edit"></i>
					</button>
					<button 
						v-if="$auth.can('Excluir Clientes')"
						class="btn btn-danger ml-2"
						@click="destroy()">
						<i class="fas fa-trash text-white-50"></i>
					</button>
				</div>
			</div>
			<cliente-info :dado="dado"></cliente-info>
			<endereco-principal 
				v-if="enderecoPrincipal && $auth.can('Visualizar Endereços')"
				:key="enderecoPrincipalKey"
				:dado="enderecoPrincipal">
			</endereco-principal>
			<endereco 
				v-if="$auth.can('Visualizar Endereços')"
				:principal="enderecoPrincipal" 
				:key="enderecoKey"
				@reload="reload">
			</endereco>
		</div>

		<cliente-update 
			v-if="$auth.can('Editar Clientes')"
			@reload="reload">
		</cliente-update>
		<cliente-destroy
			v-if="$auth.can('Excluir Clientes')">
		</cliente-destroy>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				dado: [],
				enderecoPrincipal: [],
				enderecoKey: 1,
				enderecoPrincipalKey: 2
			}
		},
		created(){
			this.getDados()
		},
		methods: {
			getDados(){
				axios.get(this.$url+'/web/clientes/show/'+this.$route.params.id)
	            .then(response => {
	            	this.dado = response.data
	            	this.enderecoPrincipal = response.data.endereco_principal
	            	this.enderecoPrincipalKey++;
	            })
	            .catch(error => {
	            	console.log(error)
	            });
			},
			update(){
				$('#updateCliente').modal('show');
			}, 
			destroy(){
				$('#clienteDestroy').modal('show');
			},
			reload(){
				this.getDados();
	           	this.enderecoKey++;
			}
		}
	}
</script>