<template>
	<div 
		class="modal fade"
		id="perfilDestroy" 
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="perfilDestroylabel" 
		aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	     		<div class="modal-header">
			        <h5 class="modal-title" id="perfilDestroylabel">Deseja realmente excluir sua conta?</h5>
				    <button 
				    	class="close"
				    	@click="fecharModal('perfilDestroy')">
				    	<span aria-hidden="true">&times;</span>
				    </button>
			    </div>
			    <div class="modal-footer">
				    <button 
				    	class="btn btn-secondary"
				    	@click="fecharModal('perfilDestroy')">
				    	Cancelar
				    </button>
				    <button 
				    	class="btn btn-danger"
				    	@click="destroy()">
				    	Excluir
				    </button>
			    </div>
	    	</div>
	  	</div> 
	</div>
</template>

<script>
	export default {
		props: ['dado_id'],
		methods: {
			destroy(){
				axios.delete(this.$url+'/web/perfil/destroy')
                .then(response => {
                	$('#perfilDestroy').modal('hide')
                  	window.location.href = this.$url+"/login";
                })
                .catch(error => {
                	$('#perfilDestroy').modal('hide')
                	this.$grtsMessage.show(error.response.data.message, error.response.data.type)
	            	console.log(error.response)
                });
			},
			fecharModal(name){
	    		$('#'+name).modal('hide')
	    	}
		}
	}
</script>