<template>
	<grts-modal 
		titulo="Alterar Senha"
		:name="name">
		<template v-slot:default>
	        <div class="form-row">
			    <div class="form-group col-md-12">
			        <label>Nova Senha *</label>
			        <input 
			        	type="password" 
			        	class="form-control" 
			        	v-model="dados.password" 
			        	:id="name+'password'" 
			        	@input="clearValidation('password')">
			        <div class="invalid-feedback" :id="name+'password-invalid-feedback'"></div>
			    </div>
			    <div class="form-group col-md-12">
			        <label>Confirmar Senha *</label>
			        <input 
			        	type="password" 
			        	class="form-control" 
			        	v-model="dados.password_confirmation" 
			        	:id="name+'password_confirmation'" 
			        	@input="clearValidation('password_confirmation')">
			        <div class="invalid-feedback" :id="name+'password_confirmation-invalid-feedback'"></div>
			    </div>
			</div>
	    </template>
	    <template v-slot:footer>
        	<button 
        		type="button" 
        		class="btn btn-primary" 
        		@click="update">
        		Salvar
        	</button>
        </template>
    </grts-modal>
</template>

<script>
	export default {
		data(){
			return {
				elementos: ['password', 'password_confirmation'],
				dados: {
					password: '',
					password_confirmation: ''
				},
				name: 'updatePassword',
				errors: []
			}
		}, 
		methods: {
			update(){
	            axios.post(this.$url+'/web/perfil/update-password', (this.dados))
	            .then(response => {
	            	$('#'+this.name).modal('hide')
	            	this.$grtsMessage.show(response.data.message, response.data.type)
	              	this.$emit('reload')
	            })
	            .catch(error => {
	            	this.errors = error.response.data.errors
	            });
        	},
			clearValidation(element){
				this.$grtsValidation.clear(element, this.name);
			},
		},
		watch: {
            errors: function() {
                this.$grtsValidation.valide(this.elementos, this.errors, this.name);
            },
        }
	}
</script>