<template>
	<div>
		<h1 class="h3 mb-3">Perfil</h1>
		<div class="row">
			<div class="col-md-4 col-xl-4">
				<div class="card mb-3">
					<div class="card-header">
						<h5 class="card-title mb-0">Ações</h5>
					</div>
					<div class="card-body text-center">
						<div class="mb-2">
							<button 
								class="btn btn-primary"
								@click="updateName()">
								Alterar Nome
							</button>
						</div>
						<div class="mb-2">
							<button 
								class="btn btn-primary"
								@click="updatePassword()">
								Alterar Senha
							</button>
						</div>
						<div>
							<button 
								class="btn btn-danger"
								@click="destroy()">
								Excluir Conta
							</button>
						</div>
					</div>				
				</div>
			</div>
			<div class="col-md-8 col-xl-8">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Detalhes</h5>
					</div>
					<div class="card-body h-100">
						<div class="d-flex justify-content-between">
							<div>
					    		<strong>Nome:</strong>
					    	</div>
					    	<div>
					    		{{ dado.name }}
					    	</div>
						</div>
						<div class="d-flex justify-content-between">
							<div>
					    		<strong>Email:</strong>
					    	</div>
					    	<div>
					    		{{ dado.email }}
					    	</div>
						</div>
						<div class="d-flex justify-content-between">
							<div>
					    		<strong>Perfil:</strong>
					    	</div>
					    	<div>
					    		{{ dado.perfil }}
					    	</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<perfil-update-password></perfil-update-password>
		<perfil-update-name></perfil-update-name>
		<perfil-destroy></perfil-destroy>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				dado: []
			}
		},
		created(){
			this.getDados()
		},
		methods: {
			getDados(){
				axios.get(this.$url+'/web/perfil/show')
	            .then(response => {
	            	this.dado = response.data
	            })
	            .catch(error => {
	            	console.log(error)
	            });
			},
			updatePassword(){
				$('#updatePassword').modal('show');
			},
			updateName(){
				$('#updateName').modal('show');
			},
			destroy(){
				$('#perfilDestroy').modal('show');
			}
		}
	}
</script>