<template>
	<div>
		<div class="container-fluid">
			<div class="row mb-2 mb-xl-3">
				<div class="col-auto d-none d-sm-block">
					<h3>
						<strong>
							<i class="fas fa-users"></i>
							Usuários
						</strong>
					</h3>
				</div>
				<div
					v-if="$auth.can('Cadastrar Usuários')" 
					class="col-auto ms-auto text-end mt-n1">
					<button 
						class="btn btn-primary ml-2"
						@click="create()">
						Novo
					</button>
				</div>
			</div>
			<div class="card">
                <div class="card-header">
		        	<div class="d-flex justify-content-between container-fluid">
			            <div class="text-muted fs-19">
			            	<strong>Registros</strong>
			            </div>
				    </div>
		        </div>
		        <div class="card-body">
		            <user-table  
		            	:key="userKey"
		            	@reload="reload">
		            </user-table>
		        </div>
		    </div>
		</div>
		<user-create
			v-if="$auth.can('Cadastrar Usuários')"
			@reload="reload">
		</user-create>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				userKey: 1
			}
		},
		methods: {
			create(){
				$('#create_users').modal('show');
			},
			reload(){
				this.userKey++;
			}
		}
	}
</script>