<template>
	<div class="card">
        <div class="card-header">
	    	<div class="d-flex justify-content-between container-fluid">
	            <div class="text-muted fs-19">
	            	<strong>Informações</strong>
	            </div>
		    </div>
	    </div>
	    <div class="card-body">
	    	<div class="row">
	    		<div class="col-md-6">
	    			<div class="card">
					  	<ul class="list-group list-group-flush">
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>Código:</strong>
					    		</div>
					    		<div>
					    			{{ dado.id }}
					    		</div>
					    	</li>
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>Nome:</strong>
					    		</div>
					    		<div>
					    			{{ dado.nome_empresa }}
					    		</div>
					    	</li>
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>Nome do Responsável:</strong>
					    		</div>
					    		<div>
					    			{{ dado.nome_responsavel }}
					    		</div>
					    	</li>
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>E-mail:</strong>
					    		</div>
					    		<div>
					    			{{ dado.email }}
					    		</div>
					    	</li>
					  	</ul>
					</div>
	    		</div>
	    		<div class="col-md-6">
	    			<div class="card">
					  	<ul class="list-group list-group-flush">
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>C.N.P.J.:</strong>
					    		</div> 
					    		<div>
					    			{{ dado.cnpj }}
					    		</div>
					    	</li>
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>Telefone:</strong> 
					    		</div>
					    		<div>
					    			{{ dado.telefone }}
					    		</div>
					    	</li>
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>Data do cadastro:</strong>
					    		</div>
					    		<div>
					    			{{ dado.created_at }}
					    		</div>
					    	</li>
					    	<li class="list-group-item d-flex justify-content-between">
					    		<div>
					    			<strong>Data da edição</strong>
					    		</div>
					    		<div>
					    			{{ dado.updated_at }}
					    		</div>
					    	</li>
					  	</ul>
					</div>
	    		</div>
	    	</div>
	    </div>
	</div>
</template>

<script>
	export default {
		props: ['dado']
	}
</script>