<template>
	<grts-modal 
		titulo="Novo Cliente"
		tamanho="modal-lg"
		:name="name">
		<template v-slot:default>
	        <cliente-form
				:dados="dados" 
	        	:name="name" 
	        	:errors="errors">
	        </cliente-form>
	    </template>
	    <template v-slot:footer>
        	<button 
        		type="button" 
        		class="btn btn-primary" 
        		@click="create">
        		Salvar
        	</button>
        </template>
    </grts-modal>
</template>

<script>
	import Cliente from "./../../models/Cliente.js";
	export default {
		data(){
			return {
				dados: new Cliente(),
				name: 'create_cliente',
				errors: []
			}
		}, 
		methods: {
			create(){
	            axios.post(this.$url+'/web/clientes/store', (this.dados))
	            .then(response => {
	            	$('#'+this.name).modal('hide')
	            	this.$grtsMessage.show(response.data.message, response.data.type)
	              	this.dados = new Cliente()
	              	this.$emit('reload')
	            })
	            .catch(error => {
	            	this.errors = error.response.data.errors
	            	if(error.response.status == 403){
	            		$('#'+this.name).modal('hide')
	            		this.$grtsMessage.show('Você não tem permissão para cadastrar clientes', 'error')
	            	}
	            });
        	},
		},
	}
</script>