<template>
	<div>
		<div class="form-row">
		    <div class="form-group col-md-8">
		        <label>Nome Empresa *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.nome_empresa" 
		        	:id="name+'nome_empresa'" 
		        	@input="clearValidation('nome_empresa')">
		        <div class="invalid-feedback" :id="name+'nome_empresa-invalid-feedback'"></div>
		    </div>
		    <div class="form-group col-md-4">
		        <label>C.N.P.J. *</label>
		        <input 
		        	type="text" 
		        	v-mask="'##.###.###/####-##'"
		        	class="form-control" 
		        	v-model="dados.cnpj" 
		        	:id="name+'cnpj'" 
		        	@input="clearValidation('cnpj')">
		        <div class="invalid-feedback" :id="name+'cnpj-invalid-feedback'"></div>
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-6">
		        <label>Nome Responsavel *</label>
		        <input 
		        	type="text" 
		        	class="form-control" 
		        	v-model="dados.nome_responsavel" 
		        	:id="name+'nome_responsavel'" 
		        	@input="clearValidation('nome_responsavel')">
		        <div class="invalid-feedback" :id="name+'nome_responsavel-invalid-feedback'"></div>
		    </div>
		    <div class="form-group col-md-6">
		        <label>Telefone *</label>
		        <input 
		        	type="text" 
		        	v-mask="['(##) ####-####', '(##) #####-####']"
		        	class="form-control" 
		        	v-model="dados.telefone" 
		        	:id="name+'telefone'" 
		        	@input="clearValidation('telefone')">
		        <div class="invalid-feedback" :id="name+'telefone-invalid-feedback'"></div>
		    </div>
		</div>
		<div class="form-row">
		    <div class="form-group col-md-12">
		        <label>E-mail *</label>
		        <input 
		        	type="email" 
		        	class="form-control" 
		        	v-model="dados.email" 
		        	:id="name+'email'" 
		        	@input="clearValidation('email')">
		        <div class="invalid-feedback" :id="name+'email-invalid-feedback'"></div>
		    </div>
		</div>
	</div>
</template>



<script>
	export default {
		props: ['dados', 'name', 'errors'],
		data(){
			return {
				elementos: Object.keys(this.dados)
			}
		},
		methods : {
			clearValidation(element){
				this.$grtsValidation.clear(element, this.name);
			},
        },
        watch: {
            errors: function() {
                this.$grtsValidation.valide(this.elementos, this.errors, this.name);
            },
        }
    }
</script>