<template>
	<div 
		class="modal fade"
		id="clienteDestroy" 
		tabindex="-1" 
		role="dialog" 
		aria-labelledby="clienteDestroylabel" 
		aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	     		<div class="modal-header">
			        <h5 class="modal-title" id="clienteDestroylabel">Deseja realmente excluir este cliente?</h5>
				    <button 
				    	class="close" 
				    	@click="fecharModal('clienteDestroy')">
				    	<span aria-hidden="true">&times;</span>
				    </button>
			    </div>
			    <div class="modal-footer">
				    <button 
				    	class="btn btn-secondary"
				    	@click="fecharModal('clienteDestroy')">
				    	Cancelar
				    </button>
				    <button 
				    	class="btn btn-danger"
				    	@click="destroy()">
				    	Excluir
				    </button>
			    </div>
	    	</div>
	  	</div> 
	</div>
</template>

<script>
	export default {
		methods: {
			destroy(){
				axios.delete(this.$url+'/web/clientes/destroy/'+this.$route.params.id)
                .then(response => {
                	$('#clienteDestroy').modal('hide')
                  	this.$grtsMessage.show(response.data.message, response.data.type)
                  	this.$router.push('/clientes')
                })
                .catch(error => {
                	$('#clienteDestroy').modal('hide')
                	this.$grtsMessage.show(error.response.data.message, error.response.data.type)
	            	console.log(error.response)
                });
			},
			fecharModal(name){
	    		$('#'+name).modal('hide')
	    	}
		}
	}
</script>