<template>
	<div>
		<table id="tableClientes" class="table table-hover table-striped">
	        <thead>
	            <tr>
	                <th>Nome</th>
	                <th>CNPJ</th>
	                <th class="right-align">
	               		Ações
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr v-if="processing">
	                <td colspan="3">
	                	<GrtsLoadCircle></GrtsLoadCircle>
	                </td>
	            </tr>
	            <tr v-for="dado in dados">
	                <td>{{ dado.nome_empresa }}</td>
	                <td>{{ dado.cnpj }}</td>
	                <td class="right-align">
	                	<button 
	                		class="btn btn-primary"
	                		@click="show(dado.id)">
	                		<i class="fas fa-eye text-white-50"></i>
	                	</button>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				dados: [],
				processing: true
			}
		},
		created(){
			this.getDados()
		},
		methods: {
			getDados(){
				axios.get(this.$url+'/web/clientes/data')
	            .then(response => {
	            	this.dados = response.data
	            	this.processing = false;
	   				this.$datatable.create('tableClientes');
	            })
	            .catch(error => {
	            	this.processing = false;
	            	console.log(error)
	            });
			},
			show(id){
				this.$router.push('/clientes/show/'+id)
			}
		}
	}
</script>

<style scoped>
	.right-align {
		text-align: right;
	}
</style>